
<div class="col-md-9">

    <div class="back">
<div class="comment">In this lesson I will tell you how to deal with <strong>problems</strong> arised during working with git</div>
  <div class="chead">
     Open your git bash in that folder

  </div>
  <div class="ctail">
    git status
  </div>
  <div class="comment">Sometimes you will see the deleted file and sometimes you may not. This solution if for both cases and also the cases with branch(my case :everything was gone except parent empty folder,may be because of git -- reset HARD)</div>




  <div class="chead">Write down the following command(this command shows ur HEAD and commited name).</div>


  <div class="ctail ctailnext">

 git reflog
    </div>


    <div class="chead">Now this below command will recover all of your files or folders
  </div>

  <div class="ctail">

     git checkout 328efc6 </div>
      <div class=comment>//328efc6   is my head name.</div>
      <div class="outerimage">
          <div class="image">
          <a href="assets/img/helo.png"><img src="assets/img/helo.png" width=100% style="object-fit:scale-down;">
          </a></div>
                </div>

      </div>

 </div>

  <div class="col-md-3">

  <div style="background: whitesmoke;padding: 10px;border-radius: 5px;">
      <ul>
          <li><a (click)='onSingleComponent()'>Deploy Angular Project to Github</a></li>
<router-outlet></router-outlet>
          </ul>
</div>
  </div>
